<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vompom.media">

    <application>
        <activity android:name=".mediaplayer.MediaPlayerActivity" />
        <activity android:name=".codec.v1.muxer.MuxerActivity" />
        <activity android:name=".drawimage.DrawImageActivity" />
        <activity android:name=".audio.AudioMainActivity" />
        <activity android:name=".audio.AudioRecordTrackActivity" />
        <activity android:name=".camera.SurfaceViewCameraActivity" />
        <activity android:name=".camera.TextureViewCameraActivity" />
        <activity android:name=".camera.CameraMainActivity" />
        <activity android:name=".codec.MediaCodecMainActivity" />
        <activity android:name=".screenrecord.ScreenRecordActivity" />
        <activity android:name=".screenrecord.MediaProjectionDemoActivity" />
        <activity android:name=".codec.H264Activity" />
        <activity android:name=".codec.v1.player.PlayerV1Activity" />
        <activity android:name=".MediaMainActivity" />
        <activity android:name=".pag.PAGMainActivity" />
        <activity android:name=".pag.SimplePagActivity" />
        <activity android:name=".pag.PAGSurfaceTextureIdActivity" />
        <activity android:name=".codec.v1.player.PlayWithoutAudioActivity" />
        <activity android:name=".frames.ExtractMpegFramesActivity" />
    </application>

</manifest>