<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.julis.distance">

    <application
        android:name="wang.julis.jwbase.basecompact.NaApplication"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/julis"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">
        <activity android:name="wang.julis.jproject.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="wang.julis.jproject.blog.PosterGeneratorActivity" />
        <activity android:name="wang.julis.jproject.blog.ArticlePosterGeneratorActivity" />
        <activity android:name="wang.julis.jproject.example.Anim.AnimationActivity" />
        <activity android:name="wang.julis.jproject.example.Anim.ValueAnimatorActivity" />
        <activity android:name="wang.julis.jproject.example.Anim.ObjectAnimatorActivity" />
        <activity android:name="wang.julis.jproject.example.Anim.AnimatorSetActivity" />
        <activity android:name="wang.julis.jproject.example.binder.client.BinderTestActivity" />

        <service android:name="wang.julis.jproject.example.binder.server.AIDLService">
            <intent-filter>
                <action android:name="julis.wang.binder.example" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Easy example which makes the status bar clock red and adds a smiley" />
        <meta-data
            android:name="xposedminversion"
            android:value="89" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>