<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.julis.wang">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="wang.julis.jproject.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/julis"
        android:label="@string/app_name"
        android:roundIcon="@drawable/julis"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name="wang.julis.jproject.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="wang.julis.jproject.blog.PosterGeneratorActivity" />
        <activity android:name="wang.julis.jproject.blog.ArticlePosterGeneratorActivity" />
        <activity android:name="wang.julis.jproject.example.anim.AnimationActivity" />
        <activity android:name="wang.julis.jproject.example.anim.ValueAnimatorActivity" />
        <activity android:name="wang.julis.jproject.example.anim.ObjectAnimatorActivity" />
        <activity android:name="wang.julis.jproject.example.anim.AnimatorSetActivity" />
        <activity android:name="wang.julis.jproject.example.binder.client.BinderTestActivity" />
        <activity android:name="wang.julis.jproject.example.media.MediaPlayerActivity" />
        <activity android:name="wang.julis.jproject.example.media.codec.MuxerActivity" />
        <activity android:name="wang.julis.jproject.example.anim.AnimationMainActivity" />
        <activity android:name="wang.julis.jproject.example.media.drawimage.DrawImageActivity" />
        <activity android:name="wang.julis.jproject.example.media.audio.AudioMainActivity" />
        <activity android:name="wang.julis.jproject.example.media.audio.AudioRecordTrackActivity" />
        <activity android:name="wang.julis.jproject.example.media.camera.SurfaceViewCameraActivity" />
        <activity android:name="wang.julis.jproject.example.media.camera.TextureViewCameraActivity" />
        <activity android:name="wang.julis.jproject.example.media.camera.CameraMainActivity" />
        <activity android:name="wang.julis.jproject.example.media.codec.MediaCodecMainActivity" />
        <activity android:name="wang.julis.jproject.example.media.screenrecord.ScreenRecordActivity" />
        <activity android:name="wang.julis.jproject.example.media.screenrecord.MediaProjectionDemoActivity" />
        <activity android:name="wang.julis.jproject.example.media.codec.H264Activity" />
        <activity android:name="wang.julis.jproject.example.media.codec.MediaExtractorActivity" />
        <activity android:name="wang.julis.jproject.example.media.MediaMainActivity" />
        <activity android:name="wang.julis.jproject.example.little.JsonTestActivity" />
        <activity android:name="wang.julis.jproject.example.media.frames.ExtractMpegFramesActivity" />
        <activity android:name="wang.julis.jproject.example.little.ToolsMainActivity" />

        <activity android:name="julis.wang.learnopengl.opengl.OpenGLNDKListActivity" />
        <activity android:name="julis.wang.learnopengl.opengl.basefunc.OpenGLTriangleActivity" />
        <activity android:name="julis.wang.learnopengl.opengl.basefunc.OpenGLImageActivity" />
        <activity android:name="wang.julis.jproject.example.little.RouterActivity" />
        <activity android:name="wang.julis.jproject.example.little.LittleMainActivity" />

        <activity android:name="wang.julis.jproject.example.media.pag.PAGMainActivity" />
        <activity android:name="wang.julis.jproject.example.media.pag.SimplePagActivity" />
        <activity android:name="wang.julis.jproject.example.media.pag.PAGSurfaceTextureIdActivity" />
        <activity
            android:name="wang.julis.jproject.example.little.CharacterDecodingActivity"
            android:exported="true" />

        <activity
            android:name="julis.wang.learnopengl.opengl.egl.EGLActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name="wang.julis.jproject.example.binder.server.AIDLService"
            android:exported="true">
            <intent-filter>
                <action android:name="julis.wang.binder.example" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>


</manifest>