<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wang.julis.learncpp">

    <application>
        <activity android:name=".CppMainActivity" />
        <activity android:name=".bitmap.BitmapOperationActivity" />
        <activity android:name=".page.MethodActivity" />
        <activity android:name=".page.ThreadActivity" />
        <activity android:name=".page.DesignActivity" />
        <activity android:name=".page.LittleJniActivity" />
        <activity android:name=".page.JniCallbackActivity" />
        <activity android:name="android.app.NativeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="native-activity" />
        </activity>

        <activity android:name=".page.WebPNativeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="webp_view" />
        </activity>
        <activity android:name=".mediacodec.NativeCodecActivity" />
    </application>
</manifest>